.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-grid {
  padding: 0;
  margin: auto;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(6,2fr); */
  margin: 5px 15px;
  gap: 20px;
  /* position: relative; */
}

.mt-n1 {
  margin-right: -0.8rem !important;
  margin-left: -0.8rem !important;
}

.tx-1 {
  color: white;
}

.mt-n2 {
  margin-left: -1.2rem !important;
}
